<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="stylesheet" href="styles/main.css">
    </head>
<body>
    
    <div uk-grid class="uk-grid uk-grid-small uk-tile-default" >
    <!-- Меню -->
    @@include("../blocks/modules/navswich/navswich.html")
        <!-- Правая часть -->
        <div class="uk-width-expand column">
            <ul class="menu-list uk-switcher">
                <!-- Главная -->
                <li class="uk-active">
                    <div class="uk-grid-small uk-child-width-auto uk-flex-middle" uk-grid>
                        <div uk-height-viewport>
                            <div uk-height-match="target: .form" class="uk-grid-small uk-child-width-1-3@m" uk-grid>

                                @@include("../blocks/modules/iconnav/iconnav.html")

                                @@include("../blocks/modules/texthover/texthover.html")

                                @@include("../blocks/modules/marker/marker.html")


                                @@include("../blocks/modules/slideshow/slideshow.html")
                                


                                @@include("../blocks/modules/imghover/imghover.html")

                                @@include("../blocks/modules/slider/slider.html")

                                @@include("../blocks/modules/svgprimary/svgprimary.html")
                                @@include("../blocks/modules/svgmute/svgmute.html")

                                @@include("../blocks/modules/svgsecondary/svgsecondary.html")

                               


                                <div class="uk-grid-margin uk-width-1-1@m">
                                    <div uk-height-match="target: > div > .form"  class="uk-child-width-1-2@m uk-grid-small" uk-grid>
                                        <div>
                                        @@include("../blocks/modules/blockbutton/blockbutton.html")</div>
                                        <div>@@include("../blocks/modules/subscribe/subscribe.html")</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
                <!-- Каталог -->
                <li>
                    @@include("../blocks/modules/catalog/catalog.html")
                </li>
                <!-- О нас -->
                <li>
                    
                    @@include("../blocks/modules/about/about.html")
                    
                </li>
                <!-- Контакты -->
                <li>
                    @@include("../blocks/modules/contact/contact.html")
                </li>
            </ul>

            
        </div>

    </div>

<script src="js/main.js"></script>
<script src="js/vendor.js"></script>
</body>
</html>
